.me {
  height: 250px;
  border-radius: 50%;
  float: left;
  margin-right: 40px;
  margin-top: 65px;
}

.containerd {
  margin-top: 50px;
  margin-left: 50px;
}

.container {
  margin-top: 60px;
}

.column {
  float: right;
  width: 640px;
}
